---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Projects from '../components/sections/Projects.astro';
import Experience from '../components/sections/Experience.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout title="Home">
  <div class="container">
    <Hero />
    <Projects />
    <Experience />
    <Contact />
  </div>
</Layout>