---
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer.astro';
import { projects } from '../../data/content';

// 引入刚才写的两个模版
import TextProject from '../../components/project-templates/TextProject.astro';
import VisualProject from '../../components/project-templates/VisualProject.astro';

export async function getStaticPaths() {
  return projects.map(p => ({
    params: { slug: p.id },
    props: { project: p },
  }));
}

const { project } = Astro.props;
---

<Layout title={project.title}>
  
  {
    project.layout === 'visual' 
    ? <VisualProject project={project} /> 
    : <TextProject project={project} />
  }

  <div class="container footer-wrapper">
    <Footer />
  </div>

</Layout>

<style>
  .footer-wrapper {
    margin-top: auto;
    padding-bottom: 2rem;
  }
</style>
